h2{
	color: #0472C6 !important;
	}
	
.ll_border-color{
	border-color: #0472C6 !important;
	}	
	
.ll_color{
	color: #0472C6 !important;
	}
		
.ll_background{
	background-color: #0472C6 !important;
	}
	
	
/* ELEMENTOS */
#topo{
	background: #0472C6 !important;
	}

#topo .borda-esquerda,
#topo .borda-direita,
#topo .right div.start .icone{
	background-image: url('lliure_elementos.png') !important;
	}
	
#topo .left .logoSistema{
	background-image: url('logo_mini.png') !important;
	}
	
	
	
#topo .right div.menu ul li a{
	color: #fff;
	}
	
#topo .right div.menu ul li a:hover{
	background: #0A5D9C;
	}