/**
*
* API Fileup - Plugin CMS
*
* @Versão 4.5.2
* @Desenvolvedor Jeison Frasson <contato@grapestudio.com.br>
* @Entre em contato com o desenvolvedor <contato@grapestudio.com.br> http://www.grapestudio.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

	
.fileUpBloco{
	}
	
	.fileUpItem{
		float: left;
		width: 100%;
		}

		.fileUpItem .fileup_file{
			visibility:hidden;
			height: 0px;
			}

		.fileUpItem input.fileup_nome{
			float: left;
			width: 175px;
			height: 30px;
			padding: 0 8px;
			margin: 0 0 0 10px;
			}

		.fileUpItem .fileup_botao{
			background: #444;
			height: 31px;
			width: 143px;
			float: left;
			color: #ddd;
			line-height: 31px;
			text-align: center;
			border-radius: 3px;
			}

		.fileUpItem .fileup_botao:hover{
			color: #ddd;
			background: #606060;
			}
