h1, h2{
	color: #008A17 !important;
	}
			
.ll_border-color{
	border-color: #008A17 !important;
	}	
	
.ll_color{
	color: #008A17 !important;
	}
	
	.ll_color-hover:hover{
		color: #008A17 !important;
		}
		
.ll_background{
	background-color: #008A17 !important;
	}
		
	.ll_background-hover:hover{
		background-color: #008A17 !important;
		}
	
	
/* ELEMENTOS */
#topo{
	background: #008A17 !important;
	}

#topo .borda-esquerda,
#topo .borda-direita,
#topo .right div.start .icone{
	background-image: url('lliure_elementos.png') !important;
	}
	
#topo .left .logoSistema{
	background-image: url('logo_mini.png') !important;
	width: 71px;
	height: 18px;
	position: absolute;
	left: 30px;
	top: 7px;
	z-index: 50;
	}
	
	
#topo .right div.menu ul li a{
	color: #fff;
	}
	
#topo .right div.menu ul li a:hover{
	background: #007C14;
	}
