*{	font-size: 11px;
	font-family: verdana;
	margin: 0;
	padding: 0;
	}
	
body{
	text-align: center;
	background: url('42original.png');
	}
	
img{
	border: none;
	}
	
.body{
	width: 780px;
	height: 100%;
	margin:0 auto;
	text-align: left;
	background: url('../imagens/layout/wave.jpg') center 0 no-repeat #fff;
	}	
	
.margin{
	padding: 5px 10px;
	}
	
h1{
	font-size: 16px;
	margin-bottom: 10px;
	}	
	
h2{
	font-size: 12px;
	margin-bottom: 5px;
	}
	
a, button{
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	display: block;
	background:#67B563;
	float: left;
	border: none;
	cursor: pointer;
	}	
	
a:hover, button:hover{
	background:#85CF81;
	}
	
form{
	width: 250px;
	float: left;
	}

button{
	float: right;
	}

div.label{
	display: block;
	margin-bottom: 3px;
	}
	
div.label span{
	margin-top: 5px;
	display: block;
	}
	
div.label input{
	width: 100%;
	padding: 5px;
	}
	
.opn, .ok, .err{
	padding: 2px 0;
	}
	
.opn {
	display: block;
	margin-bottom: 2px;
	color: #ccc;
	}		
	
.err {
	display: block;
	margin-bottom: 2px;
	color: #f88;
	}	
	
.ok {
	display: block;
	margin-bottom: 2px;
	color: #45B347;
	}
	
.tMenu{
	display: block;
	margin-bottom: 5px;
	}
	
.tMenu input{
	margin-right: 4px;
	}
/***************************************************/
.top{
	height: 83px;
	position: relative;
	}
	
.top h1{
	position: absolute;
	left: 260px;
	top: 15px;
	}
	
.pass{
	width: 195px;
	float: left;
	}
	
.inter{
	float: right;
	width: 560px;
	}
	
div.plugInt{
	display: block;
	margin: 10px 0px;
	padding: 5px 0px;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	}


.config{
	width: 300px;
	margin: 0 auto;
	}

.config span{
	font-size: 12px;
	}
