h2{
	color: #A00037 !important;
	}
	
.border-color{
	border-color: #A00037 !important;
	}	
	
.color{
	color: #A00037 !important;
	}
		
.background{
	background-color: #A00037 !important;
	}
	
	
/* ELEMENTOS */
#topo .borda-esquerda,
#topo .borda-direita{
	background-image: url('lliure_elementos.png') !important;
	}
	
#topo .left .logoSistema{
	background-image: url('logo_mini.png') !important;
	}