/**
*
* API navigi - lliure
*
* @Versão 6.0
* @Desenvolvedor Jeison Frasson <jomadee@lliure.com.br>
* @Entre em contato com o desenvolvedor <jomadee@glliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

#navigi{
	float: left;
	width: 100%;
	}
	
	#navigi .load{
		float: left;
		width: 100%;
		text-align: center;
		}
		
		
/******		listagem em icones	*******/
div.navigi_item {
	z-index: 10;
	position: relative;
	float: left;
	border-radius: 7px;
	padding: 4px;
	
	width: 85px;
	height: 65px;
	float: left;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	
	margin-right: 2px;
	
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	}

	div.navigi_item:hover{
		background: #e7e7e7;
		}

	div.navigi_item.navigi_selecionado{
			background: #d7d7d7;
			}
			
div.listpSelct {	
	padding: 3px;
	float: left;
	background: #C2E4F0;
	}
	
	div.navigi_item span.navigi_ico{
		display: block;
		width: 32px;
		margin: 0 auto;
		}		
		
	div.navigi_item span.navigi_ico span{
		width: 32px;
		height: 32px;
		vertical-align: middle;
		display: table-cell;
		}		
		
	div.navigi_item span.navigi_ico img{
		vertical-align: middle;
		}
		
	div.navigi_item span.navigi_nome{
		display: block;
		clear: both;
		margin: 5px 0 0 0;
		height: 27px;
		overflow: hidden;
		line-height: 13px;
		}

	div.navigi_item input{
		width: 85px;
		text-align: center;
		padding: 3px 0px;
		background: #f5f5f5;
		border: none;
		font-size: inherit;
		color: #555;
		}
		
/******		listagem em lista	*******/
table.navigi_list{
	}
	
	table.navigi_list tr th.cod{	
		width: 80px;
		}
		
	tr.navigi_tr{	
		cursor: pointer;
		}
		
	
	table.navigi_list tr td .navigi_nome{
		position: relative;		
		}		
		
		tr td .navigi_nome .navigi_rename{
			background: #fff;
			border: 1px solid #999;
			position: absolute;
			z-index: 200;
			top: -10px;
			left: 0;			
			padding: 15px;
			cursor: default;
			
			box-sizing: content-box;
			-moz-box-sizing: content-box;
			-webkit-box-sizing: content-box;
			}
			
		tr td .navigi_nome .navigi_rename .nvg_ren_left{
			float: left;
			font-weight: bold;
			font-size: 14px;
			width: 100px;
			padding-top: 8px;
			}
			
		tr td .navigi_nome .navigi_rename .nvg_ren_right{
			float: right;
			}
			
			tr td .navigi_nome .navigi_rename .nvg_ren_right input{
				float: left;
				width: 238px;
				margin-bottom: 10px;
				height: 30px;
				}

				
/******		paginacao	*******/
#nvg_paginacao{
			float: left;
			padding-top: 20px;
			}			
			
		#nvg_paginacao span a{
			float: left;
			text-align: center;
			width: 26px;
			line-height: 32px;
			margin-right: 10px;
			border: 1px solid #E0E0E0;
			font-weight: bold;
			font-size: 0.909em;
			
			border-radius: 2px;
			
			
			background-image: linear-gradient(bottom, #DCDCDC 12%, #FAFAFA 56%);
			background-image: -o-linear-gradient(bottom, #DCDCDC 12%, #FAFAFA 56%);
			background-image: -moz-linear-gradient(bottom, #DCDCDC 12%, #FAFAFA 56%);
			background-image: -webkit-linear-gradient(bottom, #DCDCDC 12%, #FAFAFA 56%);
			background-image: -ms-linear-gradient(bottom, #DCDCDC 12%, #FAFAFA 56%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.12, #DCDCDC),
				color-stop(0.56, #FAFAFA)
			);
			
			border-color: #CCCCCC #CCCCCC #AAAAAA;
			box-shadow: 0 0 1px #FFFFFF inset;
			text-shadow: 0 1px 0 #FFFFFF;
			}
			
		#nvg_paginacao span a:hover{
			box-shadow: 0 0 4px #bbb;
			}
			
		#nvg_paginacao span.atual a{
		
			background-image: linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
			background-image: -o-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
			background-image: -moz-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
			background-image: -webkit-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
			background-image: -ms-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);

			background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(0, #C8C8C8),
				color-stop(1, #E6E6E6)
			);
			border-color: #888888 #AAAAAA #CCCCCC;
			
			box-shadow: 0 1px 5px #bbb inset;
			color: #555;
			}			