/**
*
* API navigi - lliure
*
* @Versão 4.10.4
* @Desenvolvedor Jeison Frasson <jomadee@lliure.com.br>
* @Entre em contato com o desenvolvedor <jomadee@glliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

#navigi{
	float: left;
	width: 100%;
	}
	
	#navigi .load{
		float: left;
		width: 100%;
		text-align: center;
		}
		
		
/******		listagem em icones	*******/
div.navigi_item {
	z-index: 10;
	position: relative;
	float: left;
	border-radius: 7px;
	padding: 4px;
	
	width: 85px;
	height: 65px;
	float: left;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	}

	div.navigi_item:hover{
		background: #e7e7e7;
		}

	div.navigi_item.navigi_selecionado{
			background: #d7d7d7;
			}
			
div.listpSelct {	
	padding: 3px;
	float: left;
	background: #C2E4F0;
	}
	
	div.navigi_item span.navigi_ico{
		display: block;
		width: 32px;
		margin: 0 auto;
		}		
		
	div.navigi_item span.navigi_ico span{
		width: 32px;
		height: 32px;
		vertical-align: middle;
		display: table-cell;
		}		
		
	div.navigi_item span.navigi_ico img{
		vertical-align: middle;
		}
		
	div.navigi_item span.navigi_nome{
		display: block;
		clear: both;
		margin: 5px 0 0 0;
		height: 27px;
		overflow: hidden;
		line-height: 13px;
		}

	div.navigi_item input{
		width: 85px;
		text-align: center;
		padding: 3px 0px;
		background: #f5f5f5;
		border: none;
		font-size: inherit;
		color: #555;
		}
		
/******		listagem em lista	*******/
table.navigi_list{
	}
	
	table.navigi_list tr th.cod{	
		width: 80px;
		}
		
	tr.navigi_tr{	
		cursor: pointer;
		}
		
	
	table.navigi_list tr td .navigi_nome{
		position: relative;		
		}		
		
		tr td .navigi_nome .navigi_rename{
			background: #fff;
			border: 1px solid #999;
			position: absolute;
			z-index: 200;
			top: -10px;
			left: 0;			
			padding: 15px;
			cursor: default;
			
			box-sizing: content-box;
			-moz-box-sizing: content-box;
			-webkit-box-sizing: content-box;
			}
			
		tr td .navigi_nome .navigi_rename .nvg_ren_left{
			float: left;
			font-weight: bold;
			font-size: 14px;
			width: 100px;
			padding-top: 8px;
			}
			
		tr td .navigi_nome .navigi_rename .nvg_ren_right{
			float: right;
			}
			
			tr td .navigi_nome .navigi_rename .nvg_ren_right input{
				float: left;
				width: 238px;
				margin-bottom: 10px;
				height: 30px;
				}