* {		margin: 0px; 
		padding: 0px; 
		font-family: tahoma;
		text-decoration : none;

		}
		
html, body {
	overflow:hidden;
	width:100%;
	height:100%;

	} 
	
body{	
	text-align:center;	
	}
	
	
* html img/**/ {
	filter:expression(
		this.alphaxLoaded ? "" :(
			this.src.substr(this.src.length-4)==".png"
			?
			(
				(!this.complete)
				? "" :
				this.runtimeStyle.filter=
				("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+this.src+"')")+
				(this.onbeforeprint="this.runtimeStyle.filter='';this.src='"+this.src+"'").substr(0,0)+
				String(this.alphaxLoaded=true).substr(0,0)+
				(this.src="imagens/layout/blank.gif").substr(0,0)
			)
			:
			this.runtimeStyle.filter=""
		)
	);
}

	
img{border: 0px;
	}

img.imge{
	width: 0;
	height: 0;
	display: none;
	}

img.imgl{
	float: left;
	padding: 10px;
	padding-left: 0;
	}

li{	list-style-type: none;
	}

a{	color:#555;
	}

a:hover {
	color:#000;
	}
	

a.link{	color:#02679c;
	}

a.link:hover {
	color: #00344F;
	text-decoration: underline;
	}
	
span.h1,
span.h2,
span.h3{
	display: block;
	font-weight: bold;
	}
	
h1, span.h1 	{	
	font-size: 17px;
	margin-bottom: 5px;
	color: #004B98;
	}
		
h2, span.h2 	{
	font-size: 15px;
	color: #EB3D00;
	margin-bottom: 3px;
	}
			
h3 ,span.h3	{
	font-size: 13px;
	color: #6AC334;
	margin-bottom: 3px;
	}
		
h4 	{font-size: 13px;
	color: #EE8100;
	margin: 0 0 2px 0;
	}
		
h5 	{	
	font-size: 10px;
	margin: 0 0 2px 0;
	}
h6 	{	
	font-size: 10px;
	color: #0074B7;
	margin: 0 0 2px 0;
	}
		
p{	margin: 0 0 8px 0;
	line-height: 14px;
	text-align: justify;
	}


label {	
	display: block; 
	}

label span {
	display: block;
	float: left;
	} 

input, textarea, select {
	color: #336699;
	padding: 2px;
	}

select {	
	width: auto;
	}

textarea {	
	height: 100px;
	overflow: auto; 
	font-size: 11px;
	}

button {
	width: 0;
	height: 0;
	border: 0px;
	cursor: pointer;
	} 

	
/***********************************************/
.both {	clear:both;
		}

		
span.botao {
		background: url(../imagens/layout/btnbox_r.gif) right top no-repeat;
		padding: 2px 0 3px 0;
		margin: 2px 4px;
		float: left;
		}	
		
span.botao button{
	background: url(../imagens/layout/btnbox_l.gif) no-repeat;
	margin: -2px 4px 0 0;
	padding: 1px 4px 3px 8px;
	font-size: 11px;
	text-decoration: none;
	width: auto;
	height: auto;
	color: #02679c;
	font-weight: bold;
	}
		
span.botao button:hover{
	color: #00344F;
	}
		
span.botao a{
	background: url(../imagens/layout/btnbox_l.gif) left top no-repeat;
	margin-right: 4px;
	padding: 2px 5px 3px 10px;
	font-size: 11px;
	text-decoration: none;
	color: #02679c;
	font-weight: bold;
	}
		
span.botao a:hover{
	color: #00344F;
	}
		
span.mensagem{
		margin: 0 0 5px 0;
		padding: 4px 0px;
		width: 100%;
		display: block;
		clear: both;
		background: #FCFDDE;
		border: 1px solid #ddd;
		position: relative;
		}
		
	span.mensagem span{
		padding: 2px 18px 2px 8px;
		display: block;
		}

	span.mensagem a.close{
		position: absolute;
		font-weight: bold;
		font-size: 12px;
		top: 2px;
		right: 4px;
		}
	
	span.mensagem span span{
		display: inline;
		color: #a00;
		font-weight: bold;
		}
		
	span.mensagem span span.blue{
		color: #00a;
		}
	
	
/*********************		Funcoes java	*********************/
img#loadImg{
		position: absolute; 
		top: 236px;
		left: 50%;
		z-index: 60000;
		}	
	
div#exectAjax{
		width: 0;
		height: 0;
		}

div#ajaxBoxfundo{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 9000;

		filter:alpha(opacity=70);
		-moz-opacity:.70;
		opacity:.70;
		}
	
div#ajaxBoxGeral{
		width: 100%;
		position: absolute;
		top: 35px;
		left: 0;
		z-index: 9001; 
		text-align: left;
		}
	
div#ajaxBoxAling{
		width: 750px;
		margin: 0 auto;
		position: relative;
		background: #000;
		padding: 1px 0;
		}
	
div#ajaxBox{
		background:#fff;
		display: block;
		height: 350px;
		margin: 0 1px;
		overflow: auto;
		}
	
a.ajaxBoxClose{
		position: absolute;
		right: 0;
		top: -25px;
		text-align: right;
		}
		
		
#mLAviso{
		width: 100%;
		position: absolute;
		z-index: 9000;
		text-align: center;
		}
		
#mLAviso div{
		padding: 8px 12px 10px 12px;
		font-size: 12px;
		border: 1px solid #ddd;
		border-top: none;
		background: #FCFDDE;
		}
		

	#mLAviso a.close{
		position: absolute;
		font-weight: bold;
		font-size: 12px;
		top: 2px;
		right: 4px;
		}