/**
*
* lliure WAP
*
* @Versão 6.0
* @Desenvolvedor Jeison Frasson <jomadee@lliure.com.br>
* @Entre em contato com o desenvolvedor <jomadee@lliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

#jfboxFundo {
	position:absolute;
	left:0;
	top:0;
	z-index:5000;
	background: #000;
	display:none;
	}


#jfboxScroll{
	position: fixed;
	left:0;
	top:0;
	z-index:5100;
	background-color: rgba(0, 0, 0, 0);
	display: none;
	
	overflow: auto;	
	height: 100%;
	width: 100%;
	}
	
#jfboxMargin{
	position:absolute;
	display: none;
	z-index:100;
	text-align: left;
	padding: 15px 0;
	}
	
	#jfboxBar{
		background: #fff;
		border-radius: 5px;
		box-shadow: 0px 4px 16px #CCCCCC;
		padding: 20px;
		overflow-y: hidden;
		

		box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	}
		
	#jfboxLoad{
		left:0;
		top:0;		
		width: 100%;
		height: 100%;
		}
		
#gifJfbox{
	position: absolute;
	top:0;
	left: 0;
	z-index:9000;
	color: #fff;
	}
	
#jfAviso{
	display: none;
	position:absolute;
	z-index:5002;
	width: 420px;	
	}
	
	#jfAviso .msm{
		background: #ccc; 
		box-shadow: 0 0 15px #ddd;
		padding: 20px;
		color: #717171;
		font-size: 12px;
		border-radius: 10px 10px 10px 10px;
		}
