/**********************			LOGIN			**********************/
form.login{
	width: 289px;
	margin: 0 auto;
	z-index: 13;
	padding-top: 20px;
	position: relative;
	}
		
form.login label span{
	display: block;
	float: none;
	margin-bottom: 3px;
	}
form.login label input{
	width: 100%;
	margin-bottom: 10px;
	}
	
form.login span.botao{
	float: right;
	}
	
/**********************			HOME			**********************/
div.listp {
	padding: 4px;
	float: left;
	border: 1px solid #fff;
	}

div.listpSelct {	
	padding: 3px;
	float: left;
	border: 1px solid #E3E3E3;
	background: #C2E4F0;
	}

div.listp .inter{
	width: 70px;
	height: 50px;
	float: left;
	text-align: center;
	}

div.listp .inter span{
	display: block;
	margin: 3px 0 0 0;
	}
