/**
*
* Plugin CMS
*
* @versão 4.0.1
* @Desenvolvedor Jeison Frasson <contato@newsmade.com.br>
* @entre em contato com o desenvolvedor <contato@newsmade.com.br> http://www.newsmade.com.br/
* @licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/
#jfboxLoad h1{
	margin-bottom: 15px;
	}

	
/**********************			java navigator			**********************/
div.listp {
	padding: 4px;
	z-index: 10;
	position: relative;
	float: left;
	border: 1px solid #fff;
	}

div.listpSelct {	
	padding: 3px;
	float: left;
	border: 1px solid #E3E3E3;
	background: #C2E4F0;
	}

div.listp .inter{
	width: 93px;
	height: 67px;
	float: left;
	text-align: center;
	}

div.listp .inter span{
	display: block;
	margin: 3px 0 0 0;
	}
	
/**********************			Install modal			**********************/
.install-box{
	margin-top: 15px;
	font-size: 12px;
	}
	
	.install-box h2{
		margin-bottom: 5px;
		}
	
	.install-box .log{
		background: #ddd;
		padding: 10px;
		}
		
		.install-box .log .padding{
			width:100%;
			height: 300px;
			overflow: auto;
			}
			
			
	.install-box form{
		margin-top: 30px;
		}
			
		.install-box form label{
			float: left;
			margin: 3px 5px 0 0;
			}
			
		.install-box form input{
			float: left;
			padding: 2px;
			font-size: 11px;
			}
	
/**********************			Acesso rápido			**********************/
.ARbox{
	background: #ddd;
	padding: 15px;
	font-size: 12px;
	margin-bottom: 20px;
	}
	
	.ARbox span{
		float: left;
		position: relative;
		margin: 0 7px;
		}
		
		.ARbox span a{
			display: none;
			position: absolute;
			right: 0;
			bottom: 0;
			}
	