/**
*
* lliure WAP
*
* @Versão 7.0
* @Desenvolvedor Jeison Frasson <jomadee@lliure.com.br>
* @Entre em contato com o desenvolvedor <jomadee@lliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/



div.mensagem{
	margin: 0 -2px 5px -2px;
	padding: 8px;
	padding-bottom: 3px;
	display: block;
	clear: both;
	background: #FCFDDE;
	border: 1px solid #ddd;
	position: relative;
	font-size: 12px;
	color: #7D7D7D;
	}
			
	div.mensagem span{
		display: block;
		margin-bottom: 5px;
		}
		
	div.mensagem span.red{
		display: inline;
		color: #a00;
		font-weight: 600;
		}
		
	div.mensagem span.blue{
		color: #00a;
		}
		
	div.mensagem a{
		font-weight: 600;
		color: #3573A6;
		}
	
/***/


input.edna{
	padding: 1px 0;
	font-size: 9px;
	width: 100%;
	text-align: center;
	}
		
div.allhome{
	z-index: 4;
	position: absolute;
	left: 0;
	height: 300px;
	width: 100%;
	background: #f00;
	}	 
		
div.boxCenter{
	width: 600px;
	margin: 0 auto;
	}

div.boxCenter900{
	width: 960px;
	margin: 0 auto;
	}
	
	
/**********************			SUB			**********************/
div.subBar{
	text-align: right;
	clear: both;
	}
	
.link {
	width: auto;
	height: auto;
	background: none;
	cursor: pointer;
	margin-left: 2px;
	}
	
a.link{
	margin: 0 4px;
	}

/**********************			FORM			**********************/
form.form{
	float: left;
	width: 100%;
	font-size: 1em; 
	}
	
form.form fieldset{
	clear: both;
	}

	
	form.form fieldset legend{
		font-size: 14px;
		margin-bottom: 10px;
		font-weight: 600;
		color: #444;
		}

	form.form fieldset div {
		margin-bottom: 20px;
		display: block;
		clear: both;
		}
		
		form.form fieldset div.column,
		form.form fieldset div.colunas{
			display: -webkit-flex;
			display: flex;
			align-items: flex-start;
			}
			
		form.form fieldset div.column > div,
		form.form fieldset div.colunas > div{
			-webkit-flex: 1 1 auto;
			flex: 1 1 auto;
			margin: 0 3px;
			}
			
		form.form fieldset div.column > div.width,
		form.form fieldset div.colunas > div.width{
			-webkit-flex: 0 0 auto;
			flex: 0 0 auto;
			}
			
			form.form fieldset div.column > div:first-child,
			form.form fieldset div.colunas > div:first-child{
				margin-left: 0;
				}
			form.form fieldset div.column > div:last-child,
			form.form fieldset div.colunas > div:last-child{
				margin-right: 0;
				}

		form.form fieldset div > table{
			border-collapse: separate;
			border-spacing: 5px 0px;			
			/*margin: 0 -11px 0 -5px;*/
			width: 100%;
			}
			
			form.form fieldset div > table tbody{
				width: 100%;
				}

				form.form fieldset div > table tbody tr{
					width: 100%;
					}
					
					form.form fieldset div > table tbody tr td{
						vertical-align: top;
						width: auto;
						}
			
		form.form fieldset div label{
			float: none;
			margin-bottom: 4px;
			color: #555;
			font-size: 1.2em;
			display: block;
			}
			
		form.form fieldset div label.required{
			font-weight: 600;
			}
			
		form.form fieldset div label.error{
			font-size: 10px;
			margin-top: 4px;
			color: #999;
			}
				
		
		form.form fieldset div div.input,
		form.form fieldset div input,
		form.form fieldset div textarea,
		form.form fieldset div select{
			outline: none;
			display: block;
			float: none;
			border: 1px solid #CCC;
			border-color: #C0C0C0 #D9D9D9 #D9D9D9;
			width: 100%;
			padding: 0 6px;
			height: 30px;
			color: #666;
			border-radius: 3px;
			background: #fff;
			margin: 0;
			font-family: inherit;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			}
			
		form.form fieldset div div.input{
			line-height: 30px;
			white-space: nowrap;
			overflow: hidden;
}
			
		form.form fieldset div input[type="radio"],
		form.form fieldset div input[type="checkbox"]{
			width: auto;
			height: auto;
			vertical-align: middle;
			}
			
		form.form fieldset div textarea{
			min-height: 100px;
			max-height: 150px;
						
			width: 100%;
			min-width: 100%;
			max-width: 100px;
			}
			
		form.form fieldset div input:focus,
		form.form fieldset div textarea:focus, 
		form.form fieldset div select:focus{
			box-shadow: 0px 0px 3px #ccc;
			}
		
		form.form fieldset div input.error,
		form.form fieldset div textarea.error,
		form.form div fieldset select.error{
			border-color: #777;
			}
			
		
		form.form fieldset div input:disabled,
		form.form fieldset div textarea:disabled, 
		form.form fieldset div select:disabled{
			background:  #f1f1f1;
			}
		
		 form.form fieldset div select{
			width: 100%;
			padding: 0;
			padding: 6px 0; 
			}	
		
			form.form fieldset div select option{
				padding: 4px 4px;
				background: #eee;
				}

		form.form fieldset div input.inatv,
		form.form div fieldset textarea.inatv,
		form.form div fieldset select.inatv{
			background: #e7e7e7;
			color: #999;
			}
			
					
		form.form fieldset div span{
			float: none;
			clear: both;
			display: block;
			margin: 2px 0 3px;
			}
		
		form.form fieldset div span.ex{			
			margin-top: 2px;
			padding: 5px 8px;
			background: #e7e7e7;
			border-bottom: 1px solid #ddd;			
			width: 100%;
			color: #aaa;
			font-size: 10px;
			border-radius: 0 0 5px 5px;
			
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			}
			
			form.form fieldset div span label{
				font-weight: normal;
				display: inline;
				float: none;
				}
				
				form.form fieldset div span label input{
					width: 16px;
					vertical-align: text-bottom;
					display: inline;
					float: none;
					margin: 0;
					}

			
	form.form div.label textarea.editor{
		height: 500px;
		}
		
	
	.mceEditor{
		display: block;
		margin-right: -6px;
		}	

form.form a.a{
	float: right;
	margin: 10px;
	margin-top: 0;
	}
	
/**************************** BOTOES */
span.botao {
	height: 32px;
	}	
	

form.form div.botoes {
	margin-top: -15px;
	height: 31px;
	clear: both;
	}

	form.form div.botoes button,
	form.form div.botoes a,
	span.botao button,
	span.botao a{
		outline: none;
		font-size: 1.1em;
		border-radius: 3px;
		line-height: 30px;
		height: 30px;
		padding: 0 1.2em;
		margin: 0;
		margin-right: 3px;
		font-weight: 400;
		
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;	
		display: inline-block; 	
		}
		
	form.form div.botoes button:hover,
	form.form div.botoes a:hover,
	span.botao button:hover,
	span.botao a:hover{
		text-decoration: none;
		}
		
	form.form div.botoes button.right,
	form.form div.botoes a.right,
	span.botao button.right,
	span.botao a.right{
		float: right;
		margin-right: 0;
		margin-left: 3px;
	}
		
		
	/******		COMUM	******/
	
	/******		NORMAL	******/
	form.form div.botoes button,
	form.form div.botoes a,
	span.botao button,
	span.botao a{
		background-color: #F5F5F5;
		-moz-box-shadow:inset 0px -9px 15px -20px #000000;
		-webkit-box-shadow:inset 0px -9px 15px -20px #000000;
		box-shadow:inset 0px -9px 15px -20px #000000;
		border:1px solid #cccccc;
		color:#444444;

	}
		
	form.form div.botoes button:hover,
	form.form div.botoes a:hover,
	span.botao button:hover,
	span.botao a:hover{
		border-color: #888;
		}
		
	form.form div.botoes button:active,
	form.form div.botoes a:active,
	span.botao button:active,
	span.botao a:active{		
		border-color: #888;		
		}
		
	/******		DISABILITADO	******/	
	form.form div.botoes button:disabled,
	form.form div.botoes a[disabled],
	span.botao button:disabled,
	span.botao a[disabled]{
		background: #ffffff;
		border: 1px solid #ccc;
		color: #444444;
		}
		
	form.form div.botoes button:disabled:hover,
	form.form div.botoes a[disabled]:hover{
		}
		
		
		
	/******		COMFIRM	******/
	
	/******		NORMAL	******/
	form.form div.botoes button.confirm,
	form.form div.botoes a.confirm,
	span.botao button.confirm,
	span.botao a.confirm{
		background: #4d90fe;
		border: 1px solid #3f75ce;
		color: #fff;
		}
		
	form.form div.botoes button.confirm:hover,
	form.form div.botoes a.confirm:hover,
	span.botao button.confirm:hover,
	span.botao a.confirm:hover{
		box-shadow: 0 0 2px #ddd;
		border-color: #264f93;
		}
		
		
/**************************** BOTOES FIM */

/*************		HORIZONTAL		*************/
form.form.hrt{
	margin-right: -1px;
	}
	
form.form.hrt fieldset{	
	width: auto;
	float: left;
	clear: none;
	}

form.form.hrt fieldset div {
	width: auto;
	float: left;
	clear: none;
	margin-right: 10px;
	}
	
form.form.hrt div.botoes{
	width: auto;
	float: left;
	clear: none;
	margin-top: 0px;
	}

/**********************			MENU SUPERIOR		**********************/
.menuSub{
	display: block;
	background: url(../imagens/layout/topmenu.png) repeat-x;
	margin: 0 -10px;
	padding: 0 30px;
	height: 45px;
	}
	
.menuSub a, .menuSub button{
	float: left;
	margin: 3px 5px 0px 5px;
	padding: 6px 7px 9px 7px;
	}
	
.menuSub a img, .menuSub button img{
	float: left;
	margin-top: 4px;
	}
.menuSub a span, .menuSub button span {
	float: left;
	margin: 5px 0 0 5px;
	} 
	.menuSub button span {
		color: #fff;
		font-size: 12px;
		margin-top: 3px;
	}
	
.menuSub a:hover, .menuSub button:hover{
	background: url(../imagens/layout/topmenu_hover.png) repeat-x;
	}


	
	
/**********************			TABELA			**********************/
table.table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	clear: both;
	}


	table.table tr.alterna1{
		background: #eee;
		}	

		table.table tr th{
			font-weight: 600;
			font-size: 1.3em;
			color: #555;
			padding: 0.7em 8px;
			background: #ddd;
			
			border-bottom: 1px solid #ccc;
			}			
			
		table.table tr th.ico{
			width: 20px;
			text-align: center;
			}		
			
		table.table tr td{
			padding: 10px 8px;
			font-size: 1.2em;
			border: none;
			vertical-align: middle;

			border-bottom: 1px solid #ddd;
			}

		table.table tr:hover td{
			background: #f5f5f5;
			}
			
		table.table tr td img{
			text-align: center;
			margin: -8px;
			padding: 4px 8px;
			}
	
/**********************			PAGINACAO			**********************/
div.paginacao{
	}
	
div.paginacao span{
	color: #ddd;
	}


.paginacao{
	padding-top: 20px;
	}
	
	.paginacao li{
		float: left;
		margin-right: 5px;
		}
	
		.paginacao li a{
			float: left;
			min-width: 16px;
			line-height: 35px;
			background: #ccc;
			text-align: center;
			border-radius: 3px;
						
			padding: 0 10px;
			
			box-sizing: content-box;
			-moz-box-sizing: content-box;
			-webkit-box-sizing: content-box;
			}
			
			
		.paginacao li a.current{
			background: #4F4F4F;
			color: #fff;
			}
				
/**********************			JFBOX			**********************/
#jfboxLoad h1{
	font-size: 1.5em;
	}
