input.edna{
	padding: 1px 0;
	font-size: 9px;
	width: 100%;
	text-align: center;
	}
		
div.allhome{
	z-index: 4;
	position: absolute;
	left: 0;
	height: 300px;
	width: 100%;
	}	 
	
div.bodyhome{
	float: left;
	z-index: 10;
	position: relative;
	}
	
div.boxCenter{
	width: 600px;
	margin: 0 auto;
	}	
	
div.boxPassos{
	background: #edf6fb;
	padding: 5px;
	border: 1px solid #5da2c8;
	}
	
/**********************			SUB			**********************/
div.subBar{
	text-align: right;
	clear: both;
	}
	
.link {
	width: auto;
	height: auto;
	background: none;
	cursor: pointer;
	margin-left: 0 0 0 2px;
	}
	
a.link{
	margin: 0 4px;
	}

/**********************			FORM			**********************/
	
form.form div.label {
	margin-bottom: 10px;
	display: block;
	float: none;
	}
	
form.form div.label span{
	float: none;
	margin-bottom: 3px;
	color: #1770BF;
	font-size: 12px;
	display: block;
	}
	
form.form  div.label  span.ex{
	float: none;
	border: 1px solid #ccc;
	background: #F0F0EE;
	margin: 3px 0 0 0px;
	padding: 2px 4px;
	color: #999;
	font-size: 10px;
	clear: both;
	}
	
form.form div.label div.input{
	display: block;
	float: none;
	border:1px solid #CCC;
	padding: 4px 4px;
	}
	
form.form  div.label div.input input, form.form div.label textarea{
	border-width: 0;
	padding: 0;
	margin: 0;
	}
	
form.form div.label textarea.normal{
	border:1px solid #CCC;
	padding: 4px 4px;
	}
	
form.form div.label input, form.form div.label textarea{
	width: 100%;
	font-size: 11px;
	}
	
form.form div.label textarea.editor{
	height: 350px;
	}

form.form a.a{
	float: right;
	margin: 10px;
	margin-top: 0;
	}
		
/**********************			GALERIA INTER			**********************/

div.galdiv{
	float:left;
	margin: 3px;
	padding: 3px;
	border: 1px solid #ccc;
	position: relative;
	}
	
div.galdiv .divblock{
	visibility: hidden;
	}

div.galdiv .trash{
	position: absolute;
	top: 3px;
	right: 3px;
	}
		
div.galdiv .favorite{
	position: absolute;
	top: 3px;
	left: 3px;
	}
	
/*	Editar foto	*/
div.ediFoto {
	display: block;
	width: 320px;
	margin: 0 auto;
	text-align: center;
	}
	
div.ediFoto form{
	clear: both;
	width: 100%;
	}	
	
div.ediFoto form input{
	width: 200px;
	}
	
/**********************			MENU SUPERIOR		**********************/
.menuSub{
	display: block;
	background: url(../imagens/plugins/topmenu.jpg) repeat-x;
	margin: 0 -10px;
	padding: 0 30px;
	height: 50px;
	}
	
.menuSub a{
	float: left;
	margin: 7px 5px 5px 5px;
	
	}
	
.menuSub a img{
	float: left;
	}
.menuSub a span{
	float: left;
	margin: 5px 0 0 5px;
	}
	
/**********************			TABELA			**********************/
table.table{
	width: 100%;
	}
		
table.table th.ico{
	width: 50px;
	text-align: center;
	}
	
table.table tr th{
	padding-bottom: 5px;
	}

	
table.table tr.alterna1{
	background: #eee;
	}	
	
table.table tr:hover{
	background: #FCFDDE;
	}
	
table.table td{
	padding: 1px 4px;
	border: 1px solid #eee;
	}
table.table td.ico{
	text-align: center;
	}
	
/**********************			PAGINACAO			**********************/
div.paginacao{
	}
	
div.paginacao span{
	color: #ddd;
	}