input.edna{
	padding: 1px 0;
	font-size: 9px;
	width: 100%;
	text-align: center;
	}
		
div.allhome{
	z-index: 4;
	position: absolute;
	left: 0;
	height: 300px;
	width: 100%;
	background: #f00;
	}	 
	
div.bodyhome{
	float: left;
	z-index: 13;
	position: relative;
	padding-top: 5px;
	width: 100%;
	}
	
	div.bodyhome .listp{
		cursor: pointer;
		}
		
		div.bodyhome .inter img{
			width: 32px;
			}
		
	
div.boxCenter{
	width: 600px;
	margin: 0 auto;
	}	
	
div.boxPassos{
	background: #edf6fb;
	padding: 5px;
	border: 1px solid #5da2c8;
	}
	
/**********************			SUB			**********************/
div.subBar{
	text-align: right;
	clear: both;
	}
	
.link {
	width: auto;
	height: auto;
	background: none;
	cursor: pointer;
	margin-left: 2px;
	}
	
a.link{
	margin: 0 4px;
	}

/**********************			FORM			**********************/
form.form{
	margin-bottom: 20px;
	float: left;
	width: 100%;
	}

form.form div {
	margin-bottom: 10px;
	display: block;
	margin-right: 6px;
	}
	
form.form div label{
	float: none;
	margin-bottom: 3px;
	color: #1770BF;
	font-size: 12px;
	display: block;
	}
	
form.form  div  span.ex{
	float: none;
	clear: both;
	margin-top: 2px;
	padding: 2px 3px;
	background: #e7e7e7;
	border-bottom: 1px solid #ddd;
	display: block;
	width: 100%;
	color: #aaa;
	font-size: 10px;
	}
	
form.form .label div.input{
	display: block;
	float: none;
	border:1px solid #CCC;
	padding: 4px 4px;

	}
	
form.form  div input, form.form div textarea, form.form div select{
	display: block;
	float: none;
	border: 1px solid #CCC;
	width: 100%;
	padding: 2px;
	}
	
 form.form div select{
	padding: 0px 2px;
	}
	
	 form.form div select option{
		padding: 2px 4px;
		}
	
	form.form .label select{
		padding: 1px 0 0 0;
		display: block;
	}
	
	
form.form div.label textarea.editor{
	height: 500px;
	}
	
	.mceEditor{
		display: block;
		margin-right: -6px;
		}
	

form.form a.a{
	float: right;
	margin: 10px;
	margin-top: 0;
	}
		
	
/**********************			MENU SUPERIOR		**********************/
.menuSub{
	display: block;
	background: url(../imagens/layout/topmenu.png) repeat-x;
	margin: 0 -10px;
	padding: 0 30px;
	height: 45px;
	}
	
.menuSub a, .menuSub button{
	float: left;
	margin: 3px 5px 0px 5px;
	padding: 6px 7px 9px 7px;
	}
	
.menuSub a img, .menuSub button img{
	float: left;
	margin-top: 4px;
	}
.menuSub a span, .menuSub button span {
	float: left;
	margin: 5px 0 0 5px;
	} 
	.menuSub button span {
		color: #fff;
		font-size: 12px;
		margin-top: 3px;
	}
	
.menuSub a:hover, .menuSub button:hover{
	background: url(../imagens/layout/topmenu_hover.png) repeat-x;
	}
	
	
	
	
/**********************			TABELA			**********************/
table.table{
	width: 100%;
	}
		
table.table th.ico{
	width: 50px;
	text-align: center;
	}
	
table.table tr th{
	padding-bottom: 5px;
	}

	
table.table tr.alterna1{
	background: #eee;
	}	
	
table.table tr:hover td{
	background: #FCFDDE;
	}
	
table.table td{
	padding: 1px 4px;
	font-size: 12px;
	border: 1px solid #eee;
	}
	
table.table td.ico{
	text-align: center;
	}
	
/**********************			PAGINACAO			**********************/
div.paginacao{
	}
	
div.paginacao span{
	color: #ddd;
	}
	
	
/**********************			GALERIA INTER			**********************/

div.api-fotos{
	clear: both;
	}
	
	div.api-fotos .seletor{
		width: 100%;
		text-align: center;
		}
		
		div.api-fotos .seletor span.ex{
			display: block;
			font-size: 10px;
			color: #ccc;
			}

div.api-fotos div.galdiv{
	float:left;
	margin: 4px;
	padding: 3px;
	border: 1px solid #D3D3D3;
	position: relative;
	float: left;
	}
	
div div.galdiv .img{
	width: 70px;
	height: 60px;
	float: left;
	}
	
div.galdiv .divblock{
	display: none;
	position: absolute;
	width: 70px;
	}

div.galdiv .trash{
	position: absolute;
	top: 3px;
	right: 3px;
	}
		
div.galdiv .favorite{
	position: absolute;
	top: 3px;
	left: 3px;
	}
	
/*	Editar foto	*/
div.ediFoto {
	display: block;
	width: 320px;
	margin: 0 auto;
	text-align: center;
	}
	
div.ediFoto form{
	clear: both;
	width: 100%;
	}	
	
div.ediFoto form input{
	width: 200px;
	}
