/**
*
* lliure WAP
*
* @Versão 4.6.2
* @Desenvolvedor Jeison Frasson <contato@grapestudio.com.br>
* @Entre em contato com o desenvolvedor <contato@grapestudio.com.br> http://www.grapestudio.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/
#tudo { 	
	margin: 0;
	position: relative;  /**/
	text-align:left;
	min-height: 100%;
	background: #ededed;
	}

* html #tudo {height: 100%;} /* HACK PARA IE */
	
#topo {
	width: 100%;
	height: 34px;
	position: relative;
	z-index: 1000;
	background: #a00037;
	}
	
	#topo .borda-esquerda,
	#topo .borda-direita{
		position: absolute;
		background: url('../imagens/layout/lliure_elementos.png') no-repeat;
		width: 12px;
		height: 40px;
		top: 0px;
		left: 0px;
		}
		
	#topo .borda-direita{
		left: auto;
		right: 0px;
		background-position: -15px 0;
		}
	
#topo .left{
	position: relative;
	height: 100%;
	width: 150px;
	float: left;
	}	
	
	#topo .left .logoSistema{
		position: absolute;
		left: 30px;
		top: 7px;
		z-index: 50;
		background: url('../imagens/layout/logo_mini.png') no-repeat;
		}
		
		#topo .left .logoSistema img{
			width: 57px;
			height: 18px;
			}
	
	#topo .left a.addDesktop{
		position: absolute;
		bottom: 0px;
		left: 200px;
		z-index: 100;
		}
	
	#topo .right div.menu{
		position: relative;
		margin-right: 14px;
		float: right;
		}

		#topo .right div.menu ul li{
			float: left;
			}
			
			#topo .right div.menu ul li a{
				float: left;
				color: #fff;
				font-size: 0.915em;
				line-height: 34px;
				padding: 0 10px;
				}
				
			#topo .right div.menu ul li a:hover{
				background: #910032;
				}


	#topo .right div.start{
		height: 34px;
		width: 20px;
		float: right;
		overflow: hidden;
		cursor: pointer;
		}
	
	#topo .right div.start .width{
		width: 600px;
		background: #eae;
		border: 5px solid #a00037;
		border-width: 3px 0;
		}
		
		#topo .right div.start .icone{
			width: 20px;
			height: 16px;
			background: url('../imagens/layout/lliure_elementos.png') -29px 0 no-repeat;
			float: left;
			margin: 6px 0;
			}
			
		#topo .right div.start:hover .icone{
			background-position: -29px -19px;
			}
		
		#topo .right .start ul {
			position: relative;
			left: 0px;
			top: 0px;
			float: left;
			background: #800225;
			background: #ededed;
			border-radius: 3px;		
			}
				
			#topo .right .start ul  li{
				margin: 0;
				float: left;
				}
				
				#topo .right .start ul  li a{
					padding: 6px 18px;
					text-align: center;
					float: left;					
					}
				
				#topo .right .start ul   li a:hover{
					background: #ddd;
					border-radius: 3px;	
					}

					#topo .right .start ul   li a img{
						width: 16px;
						height: 16px;
						}

#conteudo {
	z-index: 500;
	background: none; 
	padding-bottom: 17px;
	position: relative;
	margin: 17px 13px 0;
	}
	
		
#rodape {
	width:	100%;
	position: absolute;
	bottom: 0; 
	height: 15px;
	left: 0;
	text-align: right;
	}
	
		
	#rodape span{
		display: block;
		font-size: 10px;
		padding-right: 15px;
		}
		
		#rodape  a{
			color: #999;
			}
