/**
*
* lliure WAP
*
* @Versão do lliure 8.0
* @Pacote lliure
*
* Entre em contato com o desenvolvedor <lliure@lliure.com.br> http://www.lliure.com.br/
* Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/
#tudo { 	
	margin: 0;
	position: relative;  /**/
	text-align:left;
	min-height: 100%;
	background: #ededed;
	min-width: 960px;
	}

* html #tudo {height: 100%;} /* HACK PARA IE */
	
#topo {
	width: 100%;
	height: 40px;
	position: relative;
	z-index: 100;
	background: #a00037;
	}
		
#topo .left{
	position: relative;
	height: 100%;
	width: 150px;
	float: left;
	}	
	
	#topo .left a.addDesktop{
		position: absolute;
		top: 10px;
		left: 4px;
		padding: 3px;
		z-index: 100;
		color: #fff;
		font-size: 1.2em;
		
		}
	
	#topo .right div.menu{
		position: relative;
		margin-right: 14px;
		float: right;		
		}

		#topo .right div.menu ul li{
			float: left;
			font-size: 1.3em;
			}
			
			#topo .right div.menu ul li a{
				float: left;
				color: #fff;
				font-size: 0.915em;
				line-height: 34px;
				padding: 0 10px;
				}
				
			#topo .right div.menu ul li a:hover{
				background: #910032;
				}

#conteudo {
	z-index: 500;
	position: relative;
	padding: 6px 13px 20px;
	border-radius: 6px 6px 0 0;
	background: #EDEDED;
	top: -6px;
	margin-bottom: -6px;
	}
	
		
#ll_rodape {
	width:	100%;
	position: absolute;
	bottom: 0; 
	height: 25px;
	left: 0;
	text-align: right;
	z-index: 2000;
	}
		
	#ll_rodape  a{
		position: absolute;
		right: 10px;
		bottom: 10px;
		font-size: 10px;
		color: #CCC;
		}
		

