#tudo { 	
	width: 100%;
	height:100%;
	overflow:auto;
	
	position: relative;  /**/
	margin:0 auto;
	text-align:left;
	min-height: 100%;
	font-size: 11px;
	
	}
		
* html #tudo {height: 100%;} /* HACK PARA IE */
	
#topo {
	width: 100%;
	height: 165px;
	position: relative;
	z-index: 500;
	background: url(../imagens/layout/wave2.jpg) center top repeat-x;
	}
	
#topo .left{
	position: relative;
	}	
	
#topo .left .logoSistema{
	width: 211px;
	height: 80px;
	position: absolute;
	left: 15px;
	top: 10px;
	background: url(../imagens/layout/logo.png) center top repeat-x;
	}
	
#topo .right{
	position: absolute;
	right: 0;
	height: 95px;
	width: 450px;
	}
	
	#topo .right ul{
		clear: both;
		}	
				
	#topo .right ul.menu{
		position: absolute;
		top: 10px;
		right: 0;
		}
		
	#topo .right a.desktop{
		position: absolute;
		bottom: -5px;
		right: 6px;
		}
		
	#topo .right ul.start{
		position: absolute;
		bottom: 20px;
		right: 0;
		}
		
	#topo .right ul li{
		display: inline;
		float: left;
		margin: 2px 8px;
		}
		
	#topo .right ul li a{
		float: left;
		}
		
	#topo .right ul.start  li a:hover{
		background: url(../imagens/layout/start_bg.png) 0px 1px no-repeat;
		}
				
		#topo .right ul.start  li{
			margin: 2px 2px 0 0;
			}
		#topo .right ul.start  li a{
			width: 30px;
			height: 30px;
			text-align: center;
			}
			
		#topo .right ul.start  li a img{
			margin-top: 5px;
			width: 20px;
			}

#conteudo {
	padding: 10px 0 40px 0;
	margin-top: -70px;
	z-index: 1000;
	background: url('../imagens/layout/fundo_branco.png') repeat-x;
	position: relative;
	}	
	
	#conteudo .marding{
		margin: 0 10px;
		z-index: 13;
		position: relative;
		}
		
#rodape {
	width:	100%;
	position: absolute;
	bottom: 0; 
	height: 22px;
	right: 21px;
	text-align: right;
	}
	
		
	#rodape span{
		padding: 5px 0 0 0;
		display: inline-block;
		font-size: 10px;
		color: #fff;
		}
		