/**
*
* API Aplimo - lliure
*
* @Versão 6.0
* @Desenvolvedor Jeison Frasson <jomadee@lliure.com.br>
* @Entre em contato com o desenvolvedor <jomadee@glliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

.container{
	clear: both;
	float: left;
	width: 100%;
	}
		
	.container .menu{
		float: left;
		width: 210px;
		height: 33px;
		margin-right: -210px;
		position: relative;
		z-index: 300;
		}		
		
	.container .centro{
		width: 100%;
		float: left;
		position: relative;
		z-index: 100;
		}
		
		.container .centro .align{
			margin-left: 240px;
			}
			
		.container .centro .paginacao{
			float: left;
			padding-top: 20px;
			}			
			
		.container .centro .paginacao span a{
			float: left;
			text-align: center;
			width: 26px;
			line-height: 32px;
			margin-right: 10px;
			border: 1px solid #E0E0E0;
			font-weight: bold;
			font-size: 0.909em;
			
			border-radius: 2px;
			
			
			background-image: linear-gradient(bottom, #DCDCDC 12%, #FAFAFA 56%);
			background-image: -o-linear-gradient(bottom, #DCDCDC 12%, #FAFAFA 56%);
			background-image: -moz-linear-gradient(bottom, #DCDCDC 12%, #FAFAFA 56%);
			background-image: -webkit-linear-gradient(bottom, #DCDCDC 12%, #FAFAFA 56%);
			background-image: -ms-linear-gradient(bottom, #DCDCDC 12%, #FAFAFA 56%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.12, #DCDCDC),
				color-stop(0.56, #FAFAFA)
			);
			
			border-color: #CCCCCC #CCCCCC #AAAAAA;
			box-shadow: 0 0 1px #FFFFFF inset;
			text-shadow: 0 1px 0 #FFFFFF;
			}
			
		.container .centro .paginacao span a:hover{
			box-shadow: 0 0 4px #bbb;
			}
			
		.container .centro .paginacao span.atual a{		
			background-image: linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
			background-image: -o-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
			background-image: -moz-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
			background-image: -webkit-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
			background-image: -ms-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);

			background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(0, #C8C8C8),
				color-stop(1, #E6E6E6)
			);
			border-color: #888888 #AAAAAA #CCCCCC;
			
			box-shadow: 0 1px 5px #bbb inset;
			color: #555;
			}			
		
			
/***/
.cabecalho{
	border-bottom: 1px solid #e1e1e1;
	margin: 0 20px 0 -13px;
	padding: 17px 13px 13px;
	float: none;
	width: auto;
	background: #fff;
	}
	
	.container .menu h1{
		font-size: 1.8em;
		font-weight: normal;
		margin: 5px 0 0 25px;
		}
		
		.container .menu h1 a{
			color: inherit;
			}
		
	.cabecalho .ferramentas{
		float: right;
		}
		
		.cabecalho .ferramentas .pesquisa{
			margin-top: 3px;
			}
		
			.cabecalho .ferramentas .pesquisa form{
				position: relative;
				}
				
				.cabecalho .ferramentas .pesquisa input{
					border-radius: 0;
					background: none repeat scroll 0 0 #FFFFFF;
					border-color: #C0C0C0 #D9D9D9 #D9D9D9;
					border-radius: 1px 1px 1px 1px;
					border-right: 1px solid #D9D9D9;
					border-style: solid;
					border-width: 1px;
					padding: 5px;
					}
					
				.cabecalho .ferramentas .pesquisa span.label{
					position: absolute;
					z-index: 200;
					top: 7px;
					left: 5px;
					color: #999;

			}
	
.corpo{
	margin: 0 20px 0 -13px;
	padding: 17px 0px 13px;
	float: none;
	width: auto;
	background: #fff;
	}
	
	.corpo .menu .ul{
		
		}
		
	.corpo .menu ul li{
		padding-left: 13px;
		border-left: 4px solid transparent;
		}
	
		.corpo .menu ul li span,
		.corpo .menu ul li .link1{			
			display: block;
			padding: 10px 0 10px 20px;			
			font-size: 1.1em;
			cursor: pointer;
			color: #111;
			}
			
		.corpo .menu ul li span{
			background: url('img/down.gif') no-repeat 6px center;
			}
			
		.corpo .menu ul li span:hover,
		.corpo .menu ul li .link1:hover{
			background-color: #EEEEEE;
			}
			
			.corpo .menu ul li span.open_sub{
				background-image: url('img/up.gif');
				font-weight: bold;
				color: #444;
				}			
			
			.corpo .menu ul li ul{
				display: none;
				position: relative;
				left: -29px;
				padding-left: 12px;
				}
				
			.corpo .menu ul li ul.open_sub{
				display: block;
				}
				
				.corpo .menu ul li ul li{
					padding-left: 37px;
					}
				
				.corpo .menu ul li ul li a{
					display: block;
					padding: 6px 0;
					color: #111;
					}
					
				.corpo .menu ul li ul li a:hover{
					text-decoration: underline;
					}
				
					
	/***/
	
		.corpo .menu ul li.aktivigi{
			border-color: #777;
			font-weight: bold;
			color: #777;		
			}
			
			.corpo .menu ul li.aktivigi a{
				color: inherit;
				}
				
				
/*--------------*/
.corpo h3{
	font-weight: bold;
	font-size: 13px;
	color: #666666;
	margin-bottom: 10px;
	}


/**************************************************			HC MENU		**/
.aplm_subheader{
	height: 50px;
	border-bottom: 1px solid #E1E1E1;
	margin-bottom: 20px;
	}
	
	/** botão */
	.aplm_botao{
		float: left;
		font-size: 0.916em;		
		border-radius: 3px;
		line-height: 30px;
		height: 30px;
		padding: 0 1.2em;
		margin: 0;
		margin-right: 3px;
		font-weight: bold;
		
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;	
		display: inline-block; 	
		
		background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
		background-color: #F5F5F5;
		border: 1px solid #ccc;
		color: #444444;
		}
		
	.aplm_botao.alg_right{
		float: right;
		margin-left: 10px;
		}
	
	.aplm_botao:hover{
		border-color: #c6c6c6;
		box-shadow: 0 0 2px #ddd;
		color: #222;
		}
	
	/** input */
	.aplm_input{
		float: left;
		position: relative;
		}
		
		.aplm_input span.label{
			position: absolute;
			left: 5px;
			top: 9px;
			}
		
		.aplm_input input{
			height: 30px;
			}
	
	.aplm_input.alg_right{
		float: right;
		}
