/**
*
* API jfnav - Plugin CMS
*
* @versão 4.2.7
* @Desenvolvedor Jeison Frasson <contato@newsmade.com.br>
* @entre em contato com o desenvolvedor <contato@newsmade.com.br> http://www.newsmade.com.br/
* @licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

/**********************			Listagem em ícones		**********************/
div.listp {
	padding: 4px;
	z-index: 10;
	position: relative;
	float: left;
	border: 1px solid #fff;
	border-radius: 4px;
	}

div.listpSelct {	
	padding: 3px;
	float: left;
	border: 1px solid #E3E3E3;
	background: #C2E4F0;
	}

div.listp .inter{
	width: 93px;
	height: 67px;
	float: left;
	text-align: center;
	}

	div.listp .inter span{
		display: block;
		margin: 3px 0 0 0;
		height: 32px;
		overflow: hidden;
		}
	
	
/**********************			Listagem em lista		**********************/
#jfnList{
	width: 100%;
	}


	#jfnList td{
		border: 1px solid #e1e1e1;
		padding: 5px;
		text-align: left;
		}

		#jfnList td input{
			text-align: left;
			}

		#jfnList tr:hover td{
			background: #F6F2D4;
			}
			
		#jfnList .jfnav_del{
			cursor: pointer;
			}
			
