*{
	padding: 0;
	margin: 0;
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 14px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	}

html,
body{
	height: 100%;
	display: block;
	background: #000;
	}
	
.wrap{
	height: auto;
	min-height: 100%;
    position: relative;
    min-width: 700px;
	}

.terminal-width{
	width: 700px;
	overflow: hidden;
}
	
.command-box.incomming{
    padding-bottom: 40px;
    }    
    
.credits{
    height: 30px;
    line-height: 30px;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: dashed 1px;
    padding: 0 5px;
    background: #222;
    }
    
.credits,
.credits a{
    font-size: 11px;
    }

.log .command,
#command{
	border: none;
	background: transparent;
	outline: none;
	}    
	
.log .return{
	/*margin-left: 20px; */
	
}
		
.command-box{
	border: none;
	width: 100%;
}

.command-box td{
	vertical-align: top;
	}
	
.cmd-arrow{
	text-align: center;
}

.cmd-inner-box{
	padding-left: 10px;
}
    
#command{
    display: inline-block;
    min-height: 25px;
    padding: 3px 0;
    cursor: default;
    line-height: 120%;
	width: 100%;
}

.clearfix{ 
    zoom:1; 
    }
.clearfix:after,
.clearfix:before { 
    content: '.'; display: block; 
    width: 0; 
    height: 0; 
    visibility: hidden; 
    overflow: hidden; 
    }
.clearfix:after{ 
    clear: both; 
    }
    
.color1{
    color: #ebebeb;
    border-color: #ebebeb;
    }
    
.color2{
    color: #ebebeb;
    border-color: #ebebeb;
	font-weight: 700;
    }