ErrorDocument 404 /404.php 

Options -Indexes

RewriteEngine on 

#RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule !\.(js|ico|txt|gif|jpg|png|css|htaccess|html|htm|php|swf)$ index.php