h1, h2{
	color: #a41a11 !important;
	}
	
		
.ll_border-color{
	border-color: #a41a11 !important;
	}	
	
.ll_color{
	color: #a41a11 !important;
	}
		
.ll_background{
	background-color: #a41a11 !important;
	}
	
	
/* ELEMENTOS */
#topo{
	background: #a41a11 !important;
	}

#topo .borda-esquerda,
#topo .borda-direita,
#topo .right div.start .icone{
	background-image: url('lliure_elementos.png') !important;
	}
	
#topo .left .logoSistema{
	background-image: url('logo_mini.png') !important;
	width: 71px;
	height: 18px;
	position: absolute;
	left: 30px;
	top: 7px;
	z-index: 50;
	}
	
	
#topo .right div.menu ul li a{
	color: #fff;
	}
	
#topo .right div.menu ul li a:hover{
	background: #bf2317;
	}
