h1, h2{
	color: #402C47 !important;
	}
	
.border-color{
	border-color: #402C47 !important;
	}	
	
.color{
	color: #402C47 !important;
	}
		
.background{
	background-color: #402C47 !important;
	}
	
	
	
/* ELEMENTOS */
#topo .borda-esquerda,
#topo .borda-direita{
	background-image: url('lliure_elementos.png') !important;
	}
	
#topo .left .logoSistema{
	background-image: url('logo_mini.png') !important;
	width: 119px;
	}

#topo{
	background-color: #402C47 !important;
	}
		
#topo .right div.menu ul li a{
	color: #fff;
	}
	
#topo .right div.menu ul li a:hover{
	background: #503759;
	}